<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurokodairu</title>

    <link rel="stylesheet" type="text/css" href="/navbar/navbar.css">
    <script src="/navbar/navbar.js"></script>
    
</head>


<body>
    <nav>
        <div class="logo">
            <h3>🐊KUROKODAIRU </h3>
        </div>

        <ul class="nav-links">
            <li>
                <a href="/"> HOME </a>
            </li>
            <li>
                <a href="/apps/"> PROJECTS </a>
            </li>
        </ul> 
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
    </nav>

    <p> Main page of apps </p>

</body>

</html>