<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurokodairu</title>
    <link rel="stylesheet" type="text/css" href="/indexStyle.css">
</head>


<body>
		<p> Test </p>

</body>

</html>